/*  COLOR PALETTE http://paletton.com/#uid=10i0u0kv7w0j8DWopyzxBpdCpjR*/

body{
	/*background-color: #FF9867;*/
	background-color: white;
}

.navbar{
	background-color: #FF5707;
}

/* ABOUT FONTS */

html{
	font-size: 15px;
}

body{
	font-family: 'Graduate', cursive;
	font-weight: 300;
	color: #000000;
}

h1, h2, h3, h4, h5, h6 {
 font-family: 'Graduate', cursive;
 font-weight: 500;
}

p{
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
}


/* FLAG */


.special{
	border: 1px solid black;
}

/* GENERAL CLASSES */

.btn{
	background-color: #FF7C3D;
	border-color: #FF7C3D;
}

.btn:hover{
	background-color: #FF5707;
	border-color: #FF5707;
}



/*  JUMBOTRON  */

.jumbotron{
	/*background-color: #FF7C3D;*/
	border-radius: 10px;
	margin-top: 20px;
	background-image: url("https://images.unsplash.com/photo-1512736912-cd9db1d90b72?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=752&q=80");
	background-repeat: no-repeat;
	background-size: 100%;
}

.jumbotron picture img {
		justify-content: center;
		align-content: center;
		text-align: center;
	}

@media (max-width: 767px){
	.jumbotron{
		background-image: none;
		background-color: #FF7C3D;
	}

	.jumbotron picture img{
		height: 200px;
	}
}

.jumbotron-description p,h1{
	color: #000112;
}

.jumbotron-description p{
	font-size: 2.0rem;
}

.jumbotron-description h1{
	font-size: 3.0rem;
}

@media (max-width: 341px){
	.jumbotron h1{
		font-size: 2.0rem;
	}

	.jumbotron p{
		font-size: 1.5rem;
	}
}

.jumbotron-description p,h1{
	font-weight: 900;
}

/*  Matches  */

.card{
	margin: 10px;
	flex-grow: 1;
	background-color: #FF9867;
	align-items: center;
	justify-content: center;
	text-align: center;
	border: solid 2px #FF7C3D;
	border-radius: 10px;
}

div[class="card-body"] p,a{
	text-align: center;
}

.matches{
	margin-top: 10px;
	margin-bottom: 10px;
}


/* Footer */

footer{
	background-color:#FF5707;
}
