/*  COLOR PALETTE http://paletton.com/#uid=10i0u0kv7w0j8DWopyzxBpdCpjR*/

body{
	/*background-color: #FF9867;*/
	background-color: white;
}

.navbar{
	background-color: #FF5707;
}

/* ABOUT FONTS */

html{
	font-size: 15px;
}

body{
	font-family: 'Graduate', cursive;
	font-weight: 300;
	color: #000000;
}

h1, h2, h3, h4, h5, h6 {
 font-family: 'Graduate', cursive;
 font-weight: 500;
}

p{
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
}


/* FLAG */


.special{
	border: 1px solid black;
}

/* GENERAL CLASSES */

.btn{
	background-color: #FF7C3D;
	border-color: #FF7C3D;
}

.btn:hover{
	background-color: #FF5707;
	border-color: #FF5707;
}



/*  JUMBOTRON  */

.jumbotron{
	background-color: #FF7C3D;
	border-radius: 10px;
	margin-top: 10px;
}

.jumbotron-description p{
	font-size: 1.5rem;
}

.jumbotron-description h1{
	font-size: 3.0rem;
}

/*  Matches  */

.card{
	margin: 10px;
	flex-grow: 1;
	background-color: #FF9867;
	align-items: center;
	justify-content: center;
	text-align: center;
}

div[class="card-body"] p,a{
	text-align: center;
}


/* Footer */

footer{
	background-color:#FF5707;
}
